*{
    margin: 0;
    padding: 0;
}
.menu-container{
    background-color: gray;
    padding: 10px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width:150px;
}
.menu{
  display: flex;
}
.items{
    margin-right: 10px;
    padding-right: 7px;
    cursor: pointer;
}
.items:hover{
    color: orange;
}


/* banner section */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100vh;
    background-image: url("/images/background.png"),
    linear-gradient(45deg, rgb(14, 13, 13), rgb(95, 83, 83));
}

.banner-img{
    width: 300px;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.details{
   font-size: 18px;
   margin-top: 20px; 
   margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    background-color: red;
    cursor: pointer;
}

/* About us */
.about-us{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}

/* our services */
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: rgb(34, 33, 33) ;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px;
}
.icon{
    width: 70px;
}
.box-btn{
    margin: 10px;
}
.box-title{
    margin-bottom: 10px;
}
box-details{
   padding: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
   
}
.services-main-container{
    background-image: url('/images/background.png'),
    linear-gradient(45deg, rgb(34, 30, 30), black);
    color: white;
    padding: 20px;
}
/* footer */
.footer-container{
     display: flex;
     background-color: rgb(26, 25, 25);
     justify-content: space-around;
     padding: 40px;
     color: white;
    
}